body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #000000;
}

p {
    text-align: center;
    font-size: 16px;
    color: #333;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 20px 0;
}

.character-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.character-button:hover {
    background-color: #000000;
}

.character-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.coin-button {
    font-size: 1.5em;
    padding: 20px 40px; /* Increased padding for larger buttons */
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
}

.coin-button:hover {
    background-color: #d0d0d0;
}

.next-button, .back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px; /* Increased padding for larger buttons */
    font-size: 1.2em; /* Increased font size */
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.next-button:hover, .back-button:hover {
    background-color: #000000;
}

.battle-steps {
    text-align: left;
    margin-top: 20px;
}