{% extends "base.html" %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcher Yoga-Typ bist du?{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="progress">
            <div class="progress-bar" style="width: {% widthratio step 6 100 %}%"></div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
