{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Battle Result{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Battle Result</h1>
    </header>
    <main>
        <div class="battle-steps">
            {% for step in steps %}
                <p>{{ step }}</p>
            {% endfor %}
        </div>
        <a href="{% url 'battle_results' %}" class="next-button">View Battle Results</a>
    </main>
</div>
{% endblock %}