{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Coin Toss{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Coin Toss</h1>
    </header>
    <main>
        <em>The coin toss will decide who goes first in the battle!</em>
        <form method="POST" action="{% url 'coin_toss' %}">
            {% csrf_token %}
            <button button class="next-button" type="submit" name="coin_choice" value="heads">Heads</button>
            <button button class="next-button" type="submit" name="coin_choice" value="tails">Tails</button>
        </form>
    </main>
</div>
{% endblock %}