{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Welcome to Fellowships Game{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Welcome to Fellowships</h1>
    </header>
    <main>
        <p>Here you can learn more about Lord of the Rings...</p>
        <img src="{% static 'images/armor.png' %}" alt="armor" class="index-image">
        <p>...or just have a good, old-fashioned fantasy brawl!!</p>
        <div class="button-group">
            <a href="{% url 'lore' %}" class="next-button">More Info</a>
            <a href="{% url 'character_selection' %}" class="next-button">Fight Now</a>
        </div>
    </main>
</div>
{% endblock %}