{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Yogi sagt: Hallo!!{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1><strong>Hallo Yogini!</strong></h1>
    </header>
    <main>
        <p>Ich bin Yogi – dein fresher Yoga-Matcher! </br> 
            Lass uns die Klasse finden, die zu dir passt!</p>
        <img src="{% static 'images/bekind-logo.png' %}" alt="logo" class="index-image">
        <div class="button-group">
            <a href="{% url 'info' %}" class="next-button">Mehr Info</a>
            <a href="{% url 'questionnaire' %}" class="next-button">Klasse suchen</a>
        </div>
    </main>
</div>
{% endblock %}