{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Über Yogi{% endblock %}

{% block content %}
<div class="lore-container">
  <header>
    <h1>be kind club</h1>
  </header>
  <main>
    <p>
      Unser <strong>Yoga-Matcher</strong> hilft dir, die zu Dir passende be kind Yoga-Klasse zu finden.</br> 
    </p>
    <h3>no worries.</h3>
    <p>Wir melden dich nirgendwo an und behandeln deine Daten vertraulichst – no strings attached!</p>
    <p class="cta"><strong>Be kind and come as you are.</strong></p>
    <a href="{% url 'questionnaire' %}" class="next-button mt-3">Los geht’s</a>
  </main>
</div>
<div class="info-section">
    <h2>Example View Output</h2>
    <p>The square of {{ number }} is {{ squared_value }}.</p>
</div>
{% endblock %}