{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Über Yogi{% endblock %}

{% block content %}
<div class="lore-container">
  <header>
    <h1>be kind x Yogi</h1>
  </header>
  <main>
    <p>
      <strong>Yogi</strong> hilft dir, die passende be kind Yoga-Klasse für deine Bedürfnisse zu finden. </br> 
    </p>
    <h3>no worries.</h3>
    <p>Yogi meldet dich nirgendwo an und behandelt deine Daten vertraulichst – no strings attached!</p>
    <p class="cta"><strong>Be kind and come as you are.</strong></p>
    <a href="{% url 'questionnaire' %}" class="next-button mt-3">Los geht’s</a>
  </main>
</div>
{% endblock %}