{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Über Yogi{% endblock %}

{% block content %}
<div class="lore-container">
  <header>
    <h1>be kind :: Yogi</h1>
  </header>
  <main>
    <p>
      <strong>Yogi</strong> hilft dir, die passende be kind Yoga-Klasse für deine Bedürfnisse zu finden. </br> 
    </p>
    <h3>Und so funktioniert’s:</h3>
    <ul>
      <li>Wir stellen dir einige Fragen, um dich kennenzulernen</li>
      <li>Über deine Antworten empfehlen wir dir eine passende Klasse</li>
      <li>Du kannst die Klasse direkt über Eversports buchen</li>
    </ul>
    <p>No worries – Yogi meldet dich nirgendwo an und behandelt deine Daten vertraulichst. Wie versprochen – no strings attached!</p>
    <p class="cta"><strong>Be kind and come as you are.</strong></p>
    <a href="{% url 'questionnaire' %}" class="next-button mt-3">Los geht’s</a>
  </main>
</div>
{% endblock %}