{% extends "base.html" %}
{% load static %}

{% block title %}Be Kind Club - Find Your Perfect Yoga{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama API Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Dein Pro-Tipp:</h1>
        <div class="response">
            <pre>{{ ollama_response|safe }}</pre>
        </div>
    </div>
</body>
</html>
{% endblock %}