{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Opponent Selected{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Opponent Selected</h1>
    </header>
    <main>
        <h2>{{ character.name }}</h2>
        <p>
            (Attack: {{ opponent.attack }}, Defense: {{ opponent.defense }}, Life Points: {{ opponent.life_points }})
        </p>
        <form action="{% url 'opponent_artifact' %}" method="post">
            {% csrf_token %}
            <a href="{% url 'opponent_artifact' %}" class="next-button">View Opponent Artifact</a>
        </form>
    </main>
</div>
{% endblock %}