{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Opponent Selected{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Opponent Selected</h1>
    </header>
    <main>
        <h2>{{ character.name }}</h2>
        <form action="{% url 'coin_toss' %}" method="post">
            {% csrf_token %}
            <a href="{% url 'coin_toss' %}" button class="next-button">Proceed to Coin Toss</a>
        </form>
        
    </main>
</div>
{% endblock %}