{% extends "base.html" %}
{% block content %}
<h1>Empfohlene Kurse für dich!</h1>

{% if classes %}
<table class="recommended-classes-table">
    <thead>
        <tr>
            <th>Kursname</th>
            <th>Beschreibung</th>
            <th>Dauer</th>
        </tr>
    </thead>
    <tbody>
        {% for cls in classes %}
        <tr>
            <td>{{ cls.name }}</td>
            <td>{{ cls.description }}</td>
            <td>{{ cls.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Keine Kurse gefunden für deinen Typ.</p>
{% endif %}

<a href="{% url 'index' %}" class="next-button">Zurück zur Startseite</a>
{% endblock %}