<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Character</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Select Character</h1>
        </header>
        <main>
            <h2>{{ character.name }}</h2>
            <ul>
                {% for quote in character.quotes %}
                    <em>"{{ quote }}"</em>
                {% endfor %}
            </ul>
            <!-- Add a button to move to the next step -->
            <form action="{% url 'opponent_selected' %}" method="post">
                {% csrf_token %}
                <button class="next-button">Next Step</button>
            </form>
        </main>
    </div>
</body>
</html>