{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Select Character{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Select Character</h1>
    </header>
    <main>
        <h2>{{ character.name }}</h2>
            {% for quote in character.quotes %}
                <em>"{{ quote }}"</em>
            {% endfor %}
        <!-- Add a button to move to the next step -->
        <form action="{% url 'opponent_selected' %}" method="post">
            {% csrf_token %}
            <button class="next-button">Next Step</button>
        </form>
    </main>
</div>
{% endblock %}